<!-- SECCION redes sociales -->

        <section id="mainFilter" class="redesSociales">
            <a href="https://github.com/manumancione" target="_blank"><i
                    class="bi bi-github redesSociales-icon"></i></a>
            <a href="https://www.linkedin.com/in/manuelamancione/" target="_blank"><i
                    class="fa-brands fa-linkedin-in redesSociales-icon"></i></a>
            <a href="mailto:manuela.manione@gmail.com" target="_blank"><i
                    class="bi bi-envelope redesSociales-icon"></i></a>
        </section>
        <div>
            <hr class="hr-seccionFinal hr-seccionFinal--icon">
        </div>
