<section id="seccionContactos" class="contacto main" data-aos="fade-up">
  <div class="section-title-container">
    <h3 class="section-title">Contacto</h3>
    <hr>
  </div>

  <div class="contacto-div">
    <h4 class="section-subtitle">Ponete en contacto conmigo</h4>
    <p>Actualmente estoy buscando nuevas oportunidades, mi bandeja de entrada siempre está abierta.<br>Ya
      sea que tengas una pregunta o simplemente quieras saludar, ¡voy a hacer todo lo posible para
      responderte!</p>
  </div>

  <div class="buttom-container">
    <a class="buttom" href="mailto:manuela.manione@gmail.com">Contactame</a>
  </div>
  
</section>
