 <!-- SECCION PROYECTOS -->

        <section id="seccionProyectos mainFilter" class="proyectos main">
            <div class="section-title-container">
                <h3 class="section-title">Proyectos</h3>
                <hr>
            </div>

            <div class="proyectos-container proyectos-container--1" data-aos="fade-up">
                <div class="proyectos-title-div">
                    <h5>Proyecto personal</h5>
                    <h4>Proyecto de Página web para empresa proveedora de Ingenieria Eléctrica.</h4>
                </div>

                <div class="proyectos-imagen-div proyectos-imagen-div--1">
                </div>

                <div class="proyectos-paragraph-div proyectos-paragraph-div--1">
                    <p>Desarrollo un proyecto de sitio web utilizando herramientas básicas de
                        diseño y componentes de estilo, se trata de una página estática.</p>
                </div>

                <div class="proyectos-skills-div proyectos-skills-div--1">
                    <h5>HTML CSS SASS Bootstrap</h5>
                </div>

                <div class="proyectos-icons-div proyectos-icons-div--1">
                    <a href="https://github.com/manumancione/PEeIRR" target="_blank"><i class="bi bi-github"></i></a>
                    <a href="https://peeirr.netlify.app/" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
                </div>
            </div>

            <div class="proyectos-container proyectos-container--2" data-aos="fade-up">
                <div class="proyectos-title-div">
                    <h5>Proyecto personal</h5>
                    <h4>Proyecto de e-commerce de una Farmacia.</h4>
                </div>
                <div class="proyectos-paragraph-div proyectos-paragraph-div--2">
                    <p>Se trata de un proyecto en el que pongo en práctica mis conocimientos de JavaScript,
                        junto con otras herramientas, para darle mayor funcionalidad al sitio.</p>
                </div>

                <div class="proyectos-imagen-div proyectos-imagen-div--2">
                </div>

                <div class="proyectos-skills-div proyectos-skills-div--2">
                    <h5>HTML CSS Bootstrap JavaScript</h5>
                </div>

                <div class="proyectos-icons-div proyectos-icons-div--2">
                    <a href="https://github.com/manumancione/Farmaweb-CoderJS" target="_blank"><i
                            class="bi bi-github"></i></a>
                    <a href="https://manumancione.github.io/Farmaweb/" target="_blank"><i
                            class="bi bi-box-arrow-up-right"></i></a>
                </div>
            </div>
        </section>