/* SECCION sobre mi */

.sobreMi-img {
  text-align: center;
  background-image: linear-gradient(rgba(10, 61, 95, 0.3), rgba(10, 61, 95, 0.3)),
    url(../../../assets/images/fotoPerfil.jpg);
  min-width: 320px;
  max-width: 350px;
  height: 350px;
  background-size: cover;
  border-radius: 3px;
  margin: 5px auto;
}

.sobreMi-img:hover {
  background-image: url(../../../assets/images/fotoPerfil.jpg);
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
}

.sobreMi-paragraph {
  margin-bottom: 4rem;
}

@media screen and (min-width: 1100px) {
  .sobreMi-container {
    display: flex;
  }

  .sobreMi-paragraph {

    padding: 0 2rem 0;
  }
}
