<!-- SECCION SOBRE MI -->

<section id="seccionSobreMi mainFilter "  class="sobreMi main" data-aos="fade-up">
  <div class="section-title-container">
    <h3 class="section-title">Sobre mí</h3>
    <hr>
  </div>
  <div class="sobreMi-container">
    <div class="sobreMi-paragraph">
      <p>{{miPortfolio.aboutParagraph1}}</p>
      <p>{{miPortfolio.aboutParagraph2}}</p>
      <p>{{miPortfolio.aboutParagraph3}}</p>
      <p>{{miPortfolio.aboutParagraph4}}</p>
    </div>
    <div class="sobreMi-img">
    </div>
  </div>
</section>
