/* estilos generales */

body {
  background-color: #363a5d;
  font-family: 'Libre Franklin',
    sans-serif;
}

@media screen and (min-width: 450px) {
  .main {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    width: 65%;
    margin: 0 auto;
  }
}

h1 {
  font-family: 'Libre Baskerville',
    serif;
}

@media screen and (min-width: 450px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-family: 'Libre Baskerville',
    serif;
}

h3 {
  font-family: 'Libre Baskerville',
    serif;
  font-size: 1.4rem;
}

h4 {
  font-family: 'Libre Baskerville',
    serif;
}

p {
  color: #CCD6F6;
  line-height: 1.6;
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 1.08rem;
  }

  h4 {
    font-size: 1.2rem;
  }
}

.buttom-container {
  text-align: center;
  margin: 4rem 0;
}

.buttom {
  text-decoration: none;
  color: #E7D9EA;
  border: 1px solid #E7D9EA;
  padding: 12px 25px;
  border-radius: 3px;
}

.buttom:hover {
  background-color: #e7d9ea3d;
  transition: 0.3s ease-in-out;
}

/* aca???? */

/* SECCION en general */
.main section {
  padding: 5px;
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .main section {
    margin-top: 4.5rem;
  }
}

.section-title {
  color: #E7D9EA;
  width: 50%;
}

.section-subtitle {
  color: #16C79A;
}

.section-title-container {
  display: flex;
}

hr {
  display: inline;
  width: 80%;
  border: 0;
  margin: auto auto;
  border-top: 1px solid #e7d9ea46;
}

@media screen and (min-width: 600px) {
  .section-title {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .section-title {
    width: 20%;
  }
}


/* pagina admin??? */
/* CORREGIR: hacer que baje despacio a las secciones */
/* CORREGIR: hacer que descargue el CV en un archivo */

/* elmentos para editar la informacion */
.editor-button {
  background-color: #363a5d;
  border: none;
  margin: 0;
  padding: 10px;
  cursor: pointer;

}

.editor-button__icono {
  color: rgb(255, 115, 0);
  font-size: 1rem;
  padding: 0;
  margin: 0;

}

.editor-button__icono:hover {
  transform: scale(1.3);
  transition: 0.2s ease-in-out;
}

.sobreMi-paragraph--editor {
  text-align: center;
  margin: 0 auto;
}